﻿* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* img {
    max-width: 100%;
}

strong {
    font-family: 'Guardian-Bold', 'Georgia', serif !important;
    font-weight: normal !important;
    font-style: normal !important;
}
p, #joint-work,#rank{
  font-family: "Guardian-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: #666666;
  .f1-light(10px, 12px);
    color: @black;

    @media @lrg{
        font-size: 15px;
    line-height: 17px;
    .f1-light(15px, 17px);
    }
}
#header {
  // height: 50px;
  // background: @nm-blue;
  background: @white;
  color: @dark-gray;
  padding: 25px 0px;
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  z-index:2;
}

#header img{
  width: 200px;
  margin: 10px;
  vertical-align: middle;
}
#app-title{
    // top: 18px!important;
    // position: absolute;
    // margin-left: 222px;
    color: @dark-gray;
    display:none;
    @media @lrg{
      display: inline-block;
      font-size: 24px;
      line-height: 1em;
      vertical-align: middle;
    }
}
#app-title:hover{
    cursor: default;
}
body {
font-family: "Guardian-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 12px;
line-height: 14px;

@media @lrg{
    font-size: 15px;
    line-height: 17px;
}
color: #565a5c;
background-color: #f5f5f5;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}



//List Container (Includes #search, #results-panel, #list)
#list-container {
  background: @white;
  visibility: hidden;
  // float: left;
  // position: fixed;
  // left:0;
  z-index: 1;
  // top: 50px;
  // bottom:0;
  box-sizing: border-box;
  display: block;
  @media @lrg{
    visibility:visible;
    width: 100%;
    max-width: 100%;
  }
}
//Search Area (Includes .search-input-wrap, .search-filter-production, .search-filter-dropdowns, .mobile-only)
#search{
  display: none;
  background: @nm-blue;
  border-top: 2px solid @nm-gold;
  // height: 100%;
  width:50%;
  // position: fixed;
  z-index:2;
  @media @lrg{
    // position: absolute;
    display: block;
    background: @white;
    border-top: none;
    width: 100%;
    // height: @filter-height*3;
  }
}
//Search Text Input (Includes .search-input, #fr-no-other-search, #address-search, #btnSearch; )
//See _search-input-wrap.less for more styling
.search-input-wrap{
  width: 100%;
  margin-top: 5px;
  // height: @filter-height - 5px;
  display: block;
  float: left;
 }
//Top Producers aka Production Slider Bar (Includes .box, #production-left, #li_slider, #production-percentage, #percentage, #production-right, #slider-percentage)
//See _search-filter-production.less for more styling
.search-filter-production{

    display: table;
    width: 100%;
    // margin-top: 100px;
    // height:30px;
    @media @lrg{
      // margin-top: @filter-height;
      // height: @filter-height;
    }
    background-color: @nm-blue;
    //float:left!important;
}
//Drop Down Filters aka Product Experts and Business Market Experts (Includes .title, #product-specialist-dropdown, #product-experts, #product-filter-list, #market-specialist-dropdown, #business-market, #market-filter-list)
//See _search-filter-dropdown.less for more styling
.search-filter-dropdown{
    border-top: 1px solid @nm-gold;
   height: 30px;
    background-color: @nm-blue;
    @media @lrg{
         height: @filter-height;
    }
}
//Drop Down Menu (Used in .search-filter-production, .search-filter-dropdown, #filter, #product-specialist-dropdown, #market-specialist-dropdown)
//See _dropdown-menu.less for more styling
.menu{
    z-index:1;
    margin:0;
    padding: 0;
    //padding-top: 5px;
    float: left;
    width: 100%;
     @media @lrg{
        padding: 0;
        width: 50%;
    }
}
//Results Panel aka # of Results and Print and Clear Buttons (Includes .results-count-item, #clear, #print)
#results-panel{
    // top:0;
    width: 100vw;
    // position: absolute;
    z-index: 1;
    visibility:visible;
    padding:5px 5px;
    background: @light-gray;
    overflow: hidden;

    @media @lrg{
      width: 100%;
      top: @filter-height*3;
      padding:10px 10px;
    }
}
#print,#clear{
    border: 1px solid @dark-gray;
    border-radius: 3px;
    width:100px;
    float: right;
    background-color: @bright-blue;
    color: @white;
}
#clear{
    margin-left: 3px;
}
#clear:hover, #print:hover{
    cursor:pointer;
    background-color: @nm-gold;
    color: @nm-blue;
}
//List where the Results are Shown
//See _list.less for more styling
#list{
    // top: 70%;
    background: @white;
    width: 100vw;
    overflow: auto;
    display:none;
    visibility: visible;
    // bottom: 0;
    // position:fixed;
    z-index: 0;
    @media @lrg{
       top: @filter-height*4;
       width: 100%;
      //  position:absolute;
       display:block;
    }
}
//Map View (Includes #mobile-menu-container, #top-mobile-menu, #middle-mobile-menu, #map)
//See _map.less for more styling
#map-container {
  // position: fixed;
  // top: 78px;
  // right: 0;
  width: 100%;
  // max-width: 100%;
  min-width: 300px;
  height: 500px;
  z-index: 0;
  // bottom: 0;
  // padding-bottom: 50px;
  @media @lrg{
      max-width: 100%;
  }
}

//Other
.title, #close-mobile, #show-fr,#print,#li_slider{
    text-align:center;
}
.mobile-hidden{
    display: none;
    @media @lrg{
        display: block;
    }
}
.mobile-only{
    display: block;
    width: 100%;
    @media @lrg{
        display: none;
    }
}
#close-mobile{
     height: 30px;
     padding-top: 8px;
     background-color: @nm-accent-red;
    }
 #show-fr{
     height: 30px;
     padding-top: 8px;
 }

 #close-mobile, #btnSearch, #show-fr{
    display:block;
    text-decoration: none;
    color: @white;
    @media @lrg{
        padding: 5px;
    }
    padding: 7px;
    border-bottom: 1px solid @white;
}
