﻿/*@font-face {
    font-family: 'Guardian-Light';
    src: url('../fonts/GuardianSans-Light-Web.eot');
    src: url('../fonts/GuardianSans-Light-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Light-Web.woff') format('woff'), url('../fonts/GuardianSans-Light-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Light-Web.svg#Guardian-Light') format('svg');
}
@font-face {
    font-family: 'Guardian-LightIt';
    src: url('../fonts/GuardianSans-LightIt-Web.eot');
    src: url('../fonts/GuardianSans-LightIt-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-LightIt-Web.woff') format('woff'), url('../fonts/GuardianSans-LightIt-Web.ttf') format('truetype'), url('../fonts/GuardianSans-LightIt-Web.svg#Guardian-LightIt') format('svg');
}
@font-face {
    font-family: 'Guardian-Regular';
    src: url('../fonts/GuardianSans-Regular-Web.eot');
    src: url('../fonts/GuardianSans-Regular-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Regular-Web.woff') format('woff'), url('../fonts/GuardianSans-Regular-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Regular-Web.svg#Guardian-Regular') format('svg');
}
@font-face {
    font-family: 'Guardian-Bold';
    src: url('../fonts/GuardianSans-Bold-Web.eot');
    src: url('../fonts/GuardianSans-Bold-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Bold-Web.woff') format('woff'), url('../fonts/GuardianSans-Bold-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Bold-Web.svg#Guardian-Bold') format('svg');
}
@font-face {
    font-family: 'Guardian-BoldIt';
    src: url('../fonts/GuardianSans-BoldIt-Web.eot');
    src: url('../fonts/GuardianSans-BoldIt-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-BoldIt-Web.woff') format('woff'), url('../fonts/GuardianSans-BoldIt-Web.ttf') format('truetype'), url('../fonts/GuardianSans-BoldIt-Web.svg#Guardian-BoldIt') format('svg');
}*/

/* Font Mixins */

.f1-light(@font-size, @line-height) {
    font-family: "Guardian-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: (@font-size);
    line-height: (@line-height);
}
.f1-lightIt(@font-size, @line-height) {
    font-family: "Guardian-LightIt", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: (@font-size);
    line-height: (@line-height);
}
.f1-regular(@font-size, @line-height) {
    font-family: "Guardian-Regular", "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: (@font-size);
    line-height: (@line-height);
}
.f1-bold(@font-size, @line-height) {
    font-family: "Guardian-Bold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: (@font-size);
    line-height: (@line-height);
}
.f1-boldIt(@font-size, @line-height) {
    font-family: "Guardian-BoldIt", "HelveticaNeue-BoldIt", "Helvetica Neue BoldIt", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: (@font-size);
    line-height: (@line-height);
}