﻿/*  Corporate Colors * Primary
--------------------------------------------------- */
@nm-blue: #002b49; /* dark blue @nm-blue */
@nm-gold: #ffb81c; /* yellow @nm-gold */


/*  Corporate Colors * Neutral
--------------------------------------------------- */
@teal: #94b7bb; /* teal @nm-neutral-teal */


/*  Corporate Colors * Accent
--------------------------------------------------- */
@nm-accent-blue-light:      #69b3e7;
@nm-accent-red:             #e03c31;


/*  Alternative Colors (not official brand colors)
--------------------------------------------------- */
/*@color3: #5c778b;*/ /* light blue */

@light-blue: #5f7392; /* light blue */
@medium-blue: #123a56; /* medium blue */
@medium-dark-blue: #1a415c; /* medium dark blue */
@light-gray: #eeeeee; /* light gray */
@dark-gray: #565a5c; /* dark gray */
@light-teal: #c6d9db; /* light teal */
@medium-gray: #e6e6e6; /* medium gray */
@black: #666666; /* black */
@white: #ffffff; /* white */

/*  New Design Colors
--------------------------------------------------- */
@dusty-blue: #5f7392; /* Dusty Blue */
@bright-blue: #0092bc; /* Bright Blue*/
@color12: #f6f6f6; /*New Lighter Gray*/

/*  Alert Colors
--------------------------------------------------- */
@alert-error: @nm-accent-red;

/*  Device Width
--------------------------------------------------- */
@xs: ~"all and (min-width: 240px)";
@sm: ~"all and (min-width: 370px)";
@med: ~"all and (min-width: 414px)";
@med-max:~"all and (min-width: 500px)";
@lrg: ~"all and (min-width: 900px)";
@lrg-max: ~"all and (min-width: 1080px)";

/*  IE
---------------------------------------------------- */
@IE: ~"all and (-ms-high-contrast: none), (-ms-high-contrast: active)";


/*  Other Variables
---------------------------------------------------- */
@filter-height: 40px;