@charset "UTF-8";
.menu li {
  list-style: none;
  border-color: #ffffff;
  color: #ffffff;
  margin: 0;
}
.menu li a:link,
.menu li a:visited,
.menu li ul li {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.menu li ul {
  display: none;
  margin: 0;
  padding: 0;
}
@media all and (min-width: 900px) {
  .menu li ul {
    position: fixed;
  }
}
.menu ul li,
ul li a {
  width: 100%;
}
.menu li ul li a:link,
.menu li ul li a:visited,
.menu li ul li {
  width: 100%;
  background-color: #5f7392;
  color: #ffffff;
}
@media all and (min-width: 900px) {
  .menu li ul li a:link,
  .menu li ul li a:visited,
  .menu li ul li {
    position: relative;
    width: 270px;
    overflow: hidden;
  }
}
@media all and (min-width: 900px) {
  .menu li ul li a:link,
  .menu li ul li a:visited,
  .menu li ul li {
    border: 1px solid #565a5c;
    background-color: #002b49;
  }
}
.menu li ul li a:hover,
.menu li ul li:hover {
  color: #ffb81c;
  border-color: #ffb81c;
}
.menu li ul li [type="checkbox"],
.menu li ul li label {
  display: inline-block;
}
.menu li ul li [type="checkbox"] {
  width: 20px;
}
.menu li ul li label {
  height: 20px;
}
@media all and (min-width: 240px) {
  .menu li ul li label {
    width: 117px!important;
  }
}
@media all and (min-width: 370px) {
  .menu li ul li label {
    width: 145px!important;
  }
}
@media all and (min-width: 414px) {
  .menu li ul li label {
    width: 165px!important;
  }
}
@media all and (min-width: 500px) {
  .menu li ul li label {
    width: 87%!important;
  }
}
@media all and (min-width: 900px) {
  .menu li ul li label {
    width: 226px!important;
  }
}
#website {
  text-decoration: none;
  color: #0092bc;
  margin-right: 110px;
}
@media all and (min-width: 900px) {
  #website {
    margin-right: 25%;
  }
}
@media all and (min-width: 1080px) {
  #website {
    margin-right: 170px !important;
  }
}
#email {
  text-decoration: none;
  color: #0092bc;
}
#list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#list li {
  background: #ffffff;
  padding: 15px;
  border-bottom: 2px solid #eeeeee;
  cursor: pointer;
}
#list ul li.active {
  background: #ffb81c;
}
#list li:hover {
  background: #eeeeee;
}
#list .agent-image {
  width: 10%;
  display: none;
}
@media all and (min-width: 414px) {
  #list .agent-image {
    width: 7%;
  }
}
@media all and (min-width: 900px) {
  #list .agent-image {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
  }
}
#list .agent-information {
  vertical-align: middle;
  display: inline-block;
}
#list li h3 {
  margin: 0;
}
#list li .call-to-actions {
  float: right;
}
#list li p {
  margin: 0;
}
#list li .office-id {
  float: right;
}
#map {
  width: 100%;
  height: 100%;
}
#mobile-menu-container {
  border-right: solid 2px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: #ffb81c;
  position: absolute;
  top: 30%;
  width: 40px;
  height: 20%;
  z-index: 3;
  background: #002b49;
  bottom: 30px!important;
}
@media all and (min-width: 900px) {
  #mobile-menu-container {
    visibility: hidden;
  }
}
#top-mobile-menu,
#bottom-mobile-menu {
  height: 40%;
  visibility: hidden;
}
#middle-mobile-menu {
  padding-bottom: 50%;
  height: 20%;
  text-align: center;
  color: #ffb81c;
}
.title {
  height: 30px;
  padding-top: 7px!important;
  background-color: #002b49;
}
@media all and (min-width: 900px) {
  .title {
    height: 40px !important;
    padding-top: 10px!important;
  }
}
#product-specialist-dropdown,
#market-specialist-dropdown {
  float: left;
}
#product-specialist-dropdown {
  border-right: 0;
}
@media all and (min-width: 900px) {
  #product-specialist-dropdown {
    border-right: 1px solid #ffffff;
  }
}
#li_slider {
  width: 100%;
  color: #ffffff !important;
  padding-top: 0!important;
  height: 55px;
}
@media all and (min-width: 900px) {
  #li_slider {
    padding-top: 10px!important;
    height: 40px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #li_slider {
    padding-top: 0!important;
  }
}
.title #li_slider {
  background-color: #002b49;
}
#slider-percentage {
  padding-top: 5px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and all and (min-width: 900px) {
  #slider-percentage {
    padding-top: 0;
    width: 175px;
    margin: 0;
  }
}
#percentage {
  color: #ffb81c;
  border: none;
  width: 100%!important;
}
@media all and (min-width: 900px) {
  #percentage {
    width: 80px!important;
  }
}
.box {
  width: 100%;
  display: block;
}
@media all and (min-width: 900px) {
  .box {
    display: table-cell;
  }
}
#production-left {
  width: 100%!important;
  padding-left: 0;
}
@media all and (min-width: 900px) {
  #production-left {
    padding-left: 10px;
    width: 80px!important;
  }
}
#production-percentage {
  width: 100%!important;
  padding-left: 0;
}
@media all and (min-width: 900px) {
  #production-percentage {
    width: 80px!important;
    /*@media @IE{
           width: 100px!important;
       }*/
  }
}
#production-right {
  padding-left: 5%;
  padding-right: 5%!important;
  padding-top: 5px!important;
  width: 100%!important;
}
@media all and (min-width: 900px) {
  #production-right {
    padding-right: 20px!important;
    margin-right: 10px!important;
    padding-left: 0!important;
    padding-top: 0!important;
    width: 600px!important;
  }
}
input[type=range] {
  padding-bottom: 3px;
  -webkit-appearance: none;
  background-color: #002b49;
  width: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  input[type=range] {
    width: 150px;
  }
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0092bc;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
input[type=range]::-webkit-slider-thumb:hover {
  background: #ffb81c;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0092bc;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb:hover {
  background: #ffb81c;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  margin: 10px;
  padding-top: 5px;
}
input[type=range]::-ms-fill-lower {
  background: #ffb81c;
  border-radius: 5px;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border-radius: 5px;
}
input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0092bc;
  cursor: pointer;
}
input[type=range]::-ms-thumb:hover {
  background: #ffb81c;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffb81c;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
#fr-no-other-search {
  padding-left: 3px;
  padding-right: 3px;
  width: 100%;
  margin-left: 0;
}
@media all and (min-width: 900px) {
  #fr-no-other-search {
    margin-left: 3px;
    width: 42.5%;
  }
}
#address-search {
  margin-top: 3px;
  width: 100%;
}
@media all and (min-width: 900px) {
  #address-search {
    margin-left: 0;
    margin-top: 0;
    width: 42.5%;
  }
}
#search .search-input {
  border-color: #eeeeee;
  color: #565a5c;
  border-radius: 3px;
  border: 1px solid;
  padding: 7px 7px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 3px;
}
#btnSearch {
  background-color: #0092bc;
  color: #ffffff !important;
  border: 0!important;
  border-bottom: 1px solid #ffffff !important;
  margin: 0!important;
  width: 100%;
  height: 30px;
  padding: 0!important;
  padding-bottom: 3px!important;
  border-radius: 0!important;
}
@media all and (min-width: 900px) {
  #btnSearch {
    padding-right: 3px;
    width: calc(11%) !important;
    border: 1px solid #002b49 !important;
    border-radius: 3px!important;
  }
}
#btnSearch:hover {
  cursor: pointer;
  background-color: #ffb81c !important;
  color: #002b49 !important;
  border-bottom: 1px solid #ffb81c !important;
}
@media all and (min-width: 900px) {
  #btnSearch:hover {
    border-color: #002b49 !important;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
* img {
  max-width: 100%;
}
strong {
  font-family: 'Guardian-Bold', 'Georgia', serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}
p,
#joint-work,
#rank {
  font-family: "Guardian-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: #666666;
}
@media all and (min-width: 900px) {
  p,
  #joint-work,
  #rank {
    font-family: "Guardian-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 17px;
  }
}
#header {
  background: #ffffff;
  color: #565a5c;
  padding: 25px 0px;
  width: 100%;
  z-index: 2;
}
#header img {
  width: 200px;
  margin: 10px;
  vertical-align: middle;
}
#app-title {
  color: #565a5c;
  display: none;
}
@media all and (min-width: 900px) {
  #app-title {
    display: inline-block;
    font-size: 24px;
    line-height: 1em;
    vertical-align: middle;
  }
}
#app-title:hover {
  cursor: default;
}
body {
  font-family: "Guardian-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #565a5c;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media all and (min-width: 900px) {
  body {
    font-size: 15px;
    line-height: 17px;
  }
}
#list-container {
  background: #ffffff;
  visibility: hidden;
  z-index: 1;
  box-sizing: border-box;
  display: block;
}
@media all and (min-width: 900px) {
  #list-container {
    visibility: visible;
    width: 100%;
    max-width: 100%;
  }
}
#search {
  display: none;
  background: #002b49;
  border-top: 2px solid #ffb81c;
  width: 50%;
  z-index: 2;
}
@media all and (min-width: 900px) {
  #search {
    display: block;
    background: #ffffff;
    border-top: none;
    width: 100%;
  }
}
.search-input-wrap {
  width: 100%;
  margin-top: 5px;
  display: block;
  float: left;
}
.search-filter-production {
  display: table;
  width: 100%;
  background-color: #002b49;
}
.search-filter-dropdown {
  border-top: 1px solid #ffb81c;
  height: 30px;
  background-color: #002b49;
}
@media all and (min-width: 900px) {
  .search-filter-dropdown {
    height: 40px;
  }
}
.menu {
  z-index: 1;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
@media all and (min-width: 900px) {
  .menu {
    padding: 0;
    width: 50%;
  }
}
#results-panel {
  width: 100vw;
  z-index: 1;
  visibility: visible;
  padding: 5px 5px;
  background: #eeeeee;
  overflow: hidden;
}
@media all and (min-width: 900px) {
  #results-panel {
    width: 100%;
    top: 120px;
    padding: 10px 10px;
  }
}
#print,
#clear {
  border: 1px solid #565a5c;
  border-radius: 3px;
  width: 100px;
  float: right;
  background-color: #0092bc;
  color: #ffffff;
}
#clear {
  margin-left: 3px;
}
#clear:hover,
#print:hover {
  cursor: pointer;
  background-color: #ffb81c;
  color: #002b49;
}
#list {
  background: #ffffff;
  width: 100vw;
  overflow: auto;
  display: none;
  visibility: visible;
  z-index: 0;
}
@media all and (min-width: 900px) {
  #list {
    top: 160px;
    width: 100%;
    display: block;
  }
}
#map-container {
  width: 100%;
  min-width: 300px;
  height: 500px;
  z-index: 0;
}
@media all and (min-width: 900px) {
  #map-container {
    max-width: 100%;
  }
}
.title,
#close-mobile,
#show-fr,
#print,
#li_slider {
  text-align: center;
}
.mobile-hidden {
  display: none;
}
@media all and (min-width: 900px) {
  .mobile-hidden {
    display: block;
  }
}
.mobile-only {
  display: block;
  width: 100%;
}
@media all and (min-width: 900px) {
  .mobile-only {
    display: none;
  }
}
#close-mobile {
  height: 30px;
  padding-top: 8px;
  background-color: #e03c31;
}
#show-fr {
  height: 30px;
  padding-top: 8px;
}
#close-mobile,
#btnSearch,
#show-fr {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 7px;
  border-bottom: 1px solid #ffffff;
}
@media all and (min-width: 900px) {
  #close-mobile,
  #btnSearch,
  #show-fr {
    padding: 5px;
  }
}
/*@font-face {
    font-family: 'Guardian-Light';
    src: url('../fonts/GuardianSans-Light-Web.eot');
    src: url('../fonts/GuardianSans-Light-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Light-Web.woff') format('woff'), url('../fonts/GuardianSans-Light-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Light-Web.svg#Guardian-Light') format('svg');
}
@font-face {
    font-family: 'Guardian-LightIt';
    src: url('../fonts/GuardianSans-LightIt-Web.eot');
    src: url('../fonts/GuardianSans-LightIt-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-LightIt-Web.woff') format('woff'), url('../fonts/GuardianSans-LightIt-Web.ttf') format('truetype'), url('../fonts/GuardianSans-LightIt-Web.svg#Guardian-LightIt') format('svg');
}
@font-face {
    font-family: 'Guardian-Regular';
    src: url('../fonts/GuardianSans-Regular-Web.eot');
    src: url('../fonts/GuardianSans-Regular-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Regular-Web.woff') format('woff'), url('../fonts/GuardianSans-Regular-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Regular-Web.svg#Guardian-Regular') format('svg');
}
@font-face {
    font-family: 'Guardian-Bold';
    src: url('../fonts/GuardianSans-Bold-Web.eot');
    src: url('../fonts/GuardianSans-Bold-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-Bold-Web.woff') format('woff'), url('../fonts/GuardianSans-Bold-Web.ttf') format('truetype'), url('../fonts/GuardianSans-Bold-Web.svg#Guardian-Bold') format('svg');
}
@font-face {
    font-family: 'Guardian-BoldIt';
    src: url('../fonts/GuardianSans-BoldIt-Web.eot');
    src: url('../fonts/GuardianSans-BoldIt-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/GuardianSans-BoldIt-Web.woff') format('woff'), url('../fonts/GuardianSans-BoldIt-Web.ttf') format('truetype'), url('../fonts/GuardianSans-BoldIt-Web.svg#Guardian-BoldIt') format('svg');
}*/
/* Font Mixins */
/*  Corporate Colors * Primary
--------------------------------------------------- */
/* dark blue @nm-blue */
/* yellow @nm-gold */
/*  Corporate Colors * Neutral
--------------------------------------------------- */
/* teal @nm-neutral-teal */
/*  Corporate Colors * Accent
--------------------------------------------------- */
/*  Alternative Colors (not official brand colors)
--------------------------------------------------- */
/*@color3: #5c778b;*/
/* light blue */
/* light blue */
/* medium blue */
/* medium dark blue */
/* light gray */
/* dark gray */
/* light teal */
/* medium gray */
/* black */
/* white */
/*  New Design Colors
--------------------------------------------------- */
/* Dusty Blue */
/* Bright Blue*/
/*New Lighter Gray*/
/*  Alert Colors
--------------------------------------------------- */
/*  Device Width
--------------------------------------------------- */
/*  IE
---------------------------------------------------- */
/*  Other Variables
---------------------------------------------------- */
/* Messi CSS */
.messi-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  opacity: 0;
}
.messi {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 10px;
  text-shadow: none;
}
@media all and (min-width: 900px) {
  .messi {
    font-size: 16px;
  }
}
.messi-box {
  position: relative;
  width: 200px!important;
  height: auto;
  padding: 8px;
  overflow: hidden;
  background-color: #002b49;
  border-radius: 6px;
  box-shadow: 0 0 1em #444;
}
@media all and (min-width: 900px) {
  .messi-box {
    width: 500px!important;
  }
}
.messi-wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
.messi-titlebox {
  padding: 10px;
  overflow: hidden;
  font: 1.3em bold helvetica, arial;
  color: #fff;
  text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.25);
  background-color: #3b3b3b;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #3b3b3b), color-stop(0.75, #575757));
  background-image: linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
  background-image: -moz-linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
  background-image: -o-linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
  background-image: -webkit-linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
  background-image: -ms-linear-gradient(bottom, #3b3b3b 25%, #575757 75%);
  -webkit-border-radius: 5px 5px 0 0px;
  border-radius: 5px 5px 0 0px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
}
.messi-titlebox.info {
  background-color: #4ea5cd;
  background-image: none;
}
.messi-titlebox.error {
  background-color: #de4343;
  background-image: none;
}
.messi-titlebox.warning {
  background-color: #eaaf51;
  background-image: none;
}
.messi-titlebox.success {
  background-color: #61b832;
  background-image: none;
}
.messi-closebtn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 25px;
  height: 25px;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
.messi-closebtn::before {
  position: relative;
  top: 2px;
  display: block;
  width: 25px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  content: '\00D7';
}
.messi-content {
  padding: 10px;
  overflow: hidden;
  font: .9em normal helvetica, arial;
}
.messi-content p {
  margin: 0 0 1.3em;
  line-height: 1.3em;
}
.messi-content .messi-closebtn {
  top: 7px;
  font: 1.3em bold helvetica, arial;
  color: #fff;
  background-color: #333;
  opacity: 0;
  -webkit-transition: opacity .25s linear, visibility .1s linear .5s;
  -moz-transition: opacity .25s linear, visibility .1s linear .5s;
  -o-transition: opacity .25s linear, visibility .1s linear .5s;
  transition: opacity .25s linear, visibility .1s linear .5s;
}
.messi-content:hover .messi-closebtn {
  opacity: 1;
}
.messi-footbox {
  width: 100%;
  height: 55px;
  overflow: hidden;
}
.messi-actions {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  padding-top: 8px;
  margin: 0 10px;
  border-top: 1px solid #eee;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
}
.messi-actions .btnbox {
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.messi-actions .btnbox .btn {
  min-width: 75px;
}
.messi-titlebox.anim {
  background-color: #666;
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.05)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.05)), color-stop(0.75, rgba(255, 255, 255, 0.05)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-animation: animate-bg 5s linear infinite;
  -moz-animation: animate-bg 5s linear infinite;
}
.messi-titlebox.anim.info {
  background-color: #4ea5cd;
}
.messi-titlebox.anim.error {
  background-color: #de4343;
}
.messi-titlebox.anim.warning {
  background-color: #eaaf51;
}
.messi-titlebox.anim.success {
  background-color: #61b832;
}
@-webkit-keyframes animate-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -80px 0;
  }
}
@-moz-keyframes animate-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -80px 0;
  }
}
/* CSS Buttons from Twitter Bootstrap: http://twitter.github.com/bootstrap/ */
.messi .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 26px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.messi .btn:hover,
.messi .btn:active,
.messi .btn.active,
.messi .btn.disabled,
.messi .btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.messi .btn:active,
.messi .btn.active {
  background-color: #cccccc \9;
}
.messi .btn:first-child {
  *margin-left: 0;
}
.messi .btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.messi .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.messi .btn.active,
.messi .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.messi .btn-primary,
.messi .btn-primary:hover,
.messi .btn-warning,
.messi .btn-warning:hover,
.messi .btn-danger,
.messi .btn-danger:hover,
.messi .btn-success,
.messi .btn-success:hover,
.messi .btn-info,
.messi .btn-info:hover,
.messi .btn-inverse,
.messi .btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.messi .btn-primary.active,
.messi .btn-warning.active,
.messi .btn-danger.active,
.messi .btn-success.active,
.messi .btn-info.active,
.messi .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.messi .btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.messi .btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.messi .btn-primary:hover,
.messi .btn-primary:active,
.messi .btn-primary.active,
.messi .btn-primary.disabled,
.messi .btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}
.messi .btn-primary:active,
.messi .btn-primary.active {
  background-color: #004099 \9;
}
.messi .btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.messi .btn-warning:hover,
.messi .btn-warning:active,
.messi .btn-warning.active,
.messi .btn-warning.disabled,
.messi .btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}
.messi .btn-warning:active,
.messi .btn-warning.active {
  background-color: #c67605 \9;
}
.messi .btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.messi .btn-danger:hover,
.messi .btn-danger:active,
.messi .btn-danger.active,
.messi .btn-danger.disabled,
.messi .btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
.messi .btn-danger:active,
.messi .btn-danger.active {
  background-color: #942a25 \9;
}
.messi .btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.messi .btn-success:hover,
.messi .btn-success:active,
.messi .btn-success.active,
.messi .btn-success.disabled,
.messi .btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}
.messi .btn-success:active,
.messi .btn-success.active {
  background-color: #408140 \9;
}
.messi .btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.messi .btn-info:hover,
.messi .btn-info:active,
.messi .btn-info.active,
.messi .btn-info.disabled,
.messi .btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.messi .btn-info:active,
.messi .btn-info.active {
  background-color: #24748c \9;
}
.messi .btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.messi .btn-inverse:hover,
.messi .btn-inverse:active,
.messi .btn-inverse.active,
.messi .btn-inverse.disabled,
.messi .btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}
.messi .btn-inverse:active,
.messi .btn-inverse.active {
  background-color: #080808 \9;
}
button.messi .btn,
input[type="submit"].messi .btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
.messi button {
  cursor: pointer;
  -webkit-appearance: button;
}
button.messi .btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/*# sourceMappingURL=css/global.css.map */