﻿.menu li{
    list-style: none;
   border-color: @white;
   color: @white;
   margin: 0;
}

.menu li a:link, .menu li a:visited, .menu li ul li{
    padding: 5px;
    display:block;
    text-decoration: none;
    color: @white;
    border-bottom: 1px solid @white;
}
.menu li ul {
    display:none;
    margin: 0;
    padding: 0;
    @media @lrg{
        position: fixed;
    } 
}
.menu ul li, ul li a{
    width: 100%;

}
.menu li ul li a:link, .menu li ul li a:visited, .menu li ul li{
    width: 100%;
    @media @lrg{
        position: relative;
     width: 270px;
     overflow: hidden;
    }
    background-color: @dusty-blue;
    color: @white;
    @media @lrg{
    border: 1px solid @dark-gray;
    background-color: @nm-blue;
    }
}
.menu li ul li a:hover, .menu li ul li:hover{
	color: @nm-gold;
    border-color: @nm-gold;
}
.menu li ul li [type="checkbox"],.menu li ul li label{
    display: inline-block;
}
.menu li ul li [type="checkbox"]{
    width: 20px;
}
.menu li ul li label {
    height: 20px;
    @media @xs{
        width: 117px!important;
    }
    @media @sm{
        width: 145px!important;
    }
    @media @med{
    width: 165px!important;
    }
    @media @med-max{
        width: 87%!important;
    }
   
    @media @lrg{
        width: 226px!important;
    }
}