#website {
  text-decoration: none;
  color: @bright-blue;
  margin-right: 110px;
  @media @lrg {
    margin-right: 25%;
  }
  @media @lrg-max {
    margin-right: 170px !important;
  }
}
#email {
  text-decoration: none;
  color: @bright-blue;
}
#list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#list li {
  background: @white;
  padding: 15px;
  border-bottom: 2px solid @light-gray;
  cursor: pointer;
}
#list ul li.active {
  background: @nm-gold;
}
#list li:hover {
  background: @light-gray;
}
#list .agent-image {
  width: 10%;
  // float: left;
  display: none;
  @media @med {
    width: 7%;
  }
  @media @lrg {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
  }
}
#list .agent-information {
  // margin-left: 11%;
  vertical-align: middle;
  display: inline-block;
}
#list li h3 {
  margin: 0;
}
#list li .call-to-actions {
  float: right;
}
#list li p {
  margin: 0;
}
#list li .office-id {
  float: right;
}
