﻿#map {

	width: 100%;
    height: 100%;
}
#mobile-menu-container{
    border-right: solid 2px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: @nm-gold;
   position: absolute;
   top: 30%;
    //top: calc(60%-35px);
    width: 40px;
    height: 20%;
    z-index: 3;
    background: @nm-blue;
    bottom: 30px!important;
    @media @lrg{
        visibility: hidden;
    }
}
#top-mobile-menu, #bottom-mobile-menu{
    height: 40%;
    visibility: hidden;
}
#middle-mobile-menu{
    padding-bottom: 50%;
    height: 20%;
    text-align:center;
    color: @nm-gold;
}

