﻿//For .search-input-wrap 
#fr-no-other-search{
     padding-left:3px;
     padding-right: 3px;
       width: 100%;
       margin-left:0;
       @media @lrg{
           margin-left: 3px;
       width: 42.5%;
       }
   }
 #address-search{
       margin-top: 3px;
       width: 100%;
       @media @lrg{
           margin-left:0;
           margin-top:0;
       width: 42.5%;
       }
   }

   #search .search-input{
border-color: @light-gray;

color: @dark-gray;
border-radius: 3px;
border: 1px solid;
padding: 7px 7px;
display: inline-block;
vertical-align: middle;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-left: 3px;
}
#btnSearch{
    background-color: @bright-blue;
    color: @white!important;
    border: 0!important;
    border-bottom: 1px solid @white!important;
    margin:0!important;
    width: 100%;
    height: 30px;
     padding: 0!important;
    padding-bottom:3px!important;
    border-radius: 0!important;
    @media @lrg{
        padding-right:3px;
    width: calc(15%-4px)!important;
    border: 1px solid @nm-blue!important;
    border-radius: 3px!important;
    }
}
#btnSearch:hover{
    cursor:pointer;
    background-color: @nm-gold!important;
    color: @nm-blue!important;
    border-bottom: 1px solid @nm-gold!important;
    @media @lrg{
        border-color: @nm-blue!important;
    }
}