﻿//layout of .search-filter-production
#li_slider{
       width: 100%;
       color: @white!important;
       padding-top:0!important;
        height: @filter-height+15px;
       @media @lrg{
       padding-top: 10px!important;
        height: @filter-height;
       }
       //check if IE, adjust padding to none
       @media @IE {
           padding-top: 0!important;
}
   }
.title #li_slider{
    background-color:@nm-blue;
   }
#slider-percentage{
    padding-top:5px;
    @media @IE{
        @media @lrg{
            padding-top:0;
            width: 175px;
            margin:0;
        }
    }
}
   #percentage{
       color: @nm-gold;
       border: none;
       width:100%!important;
       @media @lrg{
           width: 80px!important;
       }
   }
.box{
    width: 100%;
    display:block;

    @media @lrg{
    display: table-cell;
    }
}
#production-left{
        width: 100%!important;
        padding-left:0;
        @media @lrg{
            padding-left:10px;
           // width:33%!important;
           width: 80px!important;
        }
}
#production-percentage{
    width:100%!important;
    padding-left:0;
    @media @lrg{
        width: 80px!important;
    //width: 33%!important;

    /*@media @IE{
           width: 100px!important;
       }*/
    }
}
#production-right{
    padding-left: 5%;
    padding-right: 5%!important;
    padding-top: 5px!important;
    width: 100%!important;
       @media @lrg{
           padding-right:20px!important;
           margin-right:10px!important;
           padding-left: 0!important;
           padding-top: 0!important;
           //width: 33%!important;
           width: 600px!important;
    }
}


//Slider
input[type=range] {
   padding-bottom: 3px;
  -webkit-appearance: none;
  background-color: @nm-blue;
  width: 100%;

  @media @IE{
      width: 150px;
  }
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
 background-color: @white;
  border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: @bright-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;

   -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
      
    &:hover {
      background: @nm-gold;
    }
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: @white;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: @white;
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: @bright-blue;
  cursor: pointer;
  &:hover {
      background: @nm-gold;
    }
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  margin: 10px;
  padding-top:5px;
}
input[type=range]::-ms-fill-lower {
  background: @nm-gold;
  border-radius: 5px;
}
input[type=range]::-ms-fill-upper {
  background: @white;
  border-radius: 5px;
}
input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: @bright-blue;
  cursor: pointer;

  &:hover {
      background: @nm-gold;
    }
}
input[type=range]:focus::-ms-fill-lower {
  background: @nm-gold;
}
input[type=range]:focus::-ms-fill-upper {
  background: @white;
}

