﻿.title{
    height: 30px;
     padding-top: 7px!important;
    @media @lrg{
    height:@filter-height!important;
    padding-top: 10px!important;
    }
    background-color:@nm-blue;
}
#product-specialist-dropdown,#market-specialist-dropdown{
    float: left;
}
#product-specialist-dropdown{
    @media @lrg{
    border-right: 1px solid @white;
    }
    border-right:0;
}

