﻿
//Production Slider
input[type=range] {
   padding-bottom: 3px;
  -webkit-appearance: none;
  background-color: @nm-blue;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
 background-color: @white;
  border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: @bright-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;

   -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
      
    &:hover {
      background: @nm-gold;
    }
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: @white;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: @white;
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: @bright-blue;
  cursor: pointer;
  &:hover {
      background: @nm-gold;
    }
}
input[type=range]::-ms-track {
  width: 100%;
  height: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: @nm-gold;
  border-radius: 5px;
}
input[type=range]::-ms-fill-upper {
  background: @white;
  border-radius: 5px;
}
input[type=range]::-ms-thumb {
  height: 50px;
  width: 20px;
  //border-radius: 50%;
  background: @bright-blue;
  cursor: pointer;

  &:hover {
      background: @nm-gold;
    }
}
input[type=range]:focus::-ms-fill-lower {
  background: @nm-gold;
}
input[type=range]:focus::-ms-fill-upper {
  background: @white;
}
